<!doctype html>
<html class="no-js" lang="">
    {{> head}}
    {{> header}}
    <body>
        <main class="ra-content-container">
            <section class="ra-c-section">
                <div class="ra-c-data-card">
                    <h1 class="ra-c-page-title">Results for {{pageTitle}}</h1>
                    <div class="ra-c-data-container">
                        <div class="ra-c-card-stat">
                            <span class="ra-c-card__title">
                                Average age of posts:
                            </span>
                            <span class="ra-c-card__body">
                                {{averageAge}} hour(s)
                            </span>
                        </div>
                        <div class="ra-c-card-stat">
                            <span class="ra-c-card__title">
                                Average comment count:
                            </span>
                            <span class="ra-c-card__body">
                                {{averageComments}}
                            </span>
                        </div>
                        <div class="ra-c-card-stat">
                            <span class="ra-c-card__title">
                                Average upvote count:
                            </span>
                            <span class="ra-c-data__body">
                                {{averageUpvotes}}
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>