<!doctype html>
<html class="no-js" lang="">
    {{> head}}
    {{> header}}
    <body>
        <main class="ra-content-container">  
            <h1 class="ra-c-page-title">{{pageTitle}}</h1>
            <div calss="ra-c-form">
                <form method="get" action="/sub">
                    <div class="ra-c-form__field">
                        <input type="text" name="subreddit" placeholder="Enter sub here..." />
                    </div>
                    <div class="ra-c-form__button-container">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>