.ra-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ra-c-section {
  border: 1px solid $brand-primary;
  border-radius: $border-radius-sm;
  padding: rem($space-xs) rem($space-med) rem($space-med);
  margin: rem($space-sm);

}

.ra-font-white {
  color: white;
}