.ra-c-data__header {
  background-color: $color-white;
  padding: rem($space-xs) rem($space-med);
  border: 1px solid $color-gray4;
  border-radius: $border-radius-sm;
  transition: all 0.15s ease-in-out;

  &:not(:last-child) {
    margin-bottom: rem($space-xs);
  }

  >*:last-child {
    margin-bottom: rem($space-xs);
  }

  &:hover {
    box-shadow: $box-shadow-darker;
  }
}

.ra-c-data-card {
  font-family: $font-family-base;
  padding: rem($space-xs);
}

.ra-c-card__title {
  font-size: rem($font-size-sm);
}

.ra-c-card {
  background-color: $color-white;
  padding: rem($space-xs) rem($space-med);
  border: 1px solid $color-gray4;
  border-radius: $border-radius-sm;
  transition: all 0.15s ease-in-out;

  &:not(:last-child) {
    margin-bottom: rem($space-xs);
  }

  &:hover {
    box-shadow: $box-shadow-darker;
  }
}

.ra-c-card__header {
  padding-bottom: rem($space-xs);
}

.ra-c-card__header-link {
  color: $brand-primary;
  font-size: $font-size-med;
}

.ra-c-card__header-subtitle {
  font-size: $font-size-xxs;
  color: $color-gray3;
}

.ra-c-card__title {
  font-size: $font-size-xs;
  color: $color-gray2;

  &:not(:last-child) {
    margin-bottom: rem(3px);
  }
}
